.card{
    border: 1px solid grey;
    /* min-width: 200px; */
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.card img{
    width: 200px;
    height: 350px;
    object-fit: cover;
}
body{
    padding: auto;
    margin: auto;
    color: aqua;
}